<!DOCTYPE html>
<html>
  <head>
    <title>Golang Chat</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css">
  </head>
  <body>
    <h1>Golang Chat</h1>
    <form id="login-form" action="/login" method="post">
      <label>Username: 
        <input id="user-name-field" type="text" name="user[name]">
      </label>
      <input id="login-button" type="submit" value="Log in">
    </form>
  </body>
</html>
